/* this is a comment */

body {
	background-color: #FFA07A;
	font-family: "Gill Sans", sans-serif;
	color: #e3f3f1;
	text-align: center;
	
}
h1 {
	font-family: Georgia, serif;
}
/* # is for id */
#container {
	margin: 100px auto;
	/*width: 600px;*/
	min-width: 600px;
	max-width: 900px;
}

/* . is for class */
img.link {
	width: 45%;
	border: 4mm ridge rgba(250, 240, 80, .9);
}
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}
#choices {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 5px;
}